[Unit]
Description=Webcam shoot and store

[Service]
Type=oneshot
WorkingDirectory=/tmp
ExecStart=/home/webcam/bin/shoot

[Install]
WantedBy=default.target
