[Unit]
Description=Webcam masters upload

[Service]
User=knockside
Group=knockside
ExecStart=/home/knockside/webcam/shoot upload_masters

[Install]
WantedBy=multi-user.target
